body{
    background-color: #e8e2e2;
    color: #0a0a0a;
    line-height: 1.6;
    overflow: hidden;
}
header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 50px;
        background-color: white;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
}
.fav{
    color: #000;
    height: 900;
}
.logo {
        font-size: 24px;
        font-weight: bold;
        color: purple;
        letter-spacing: 2px;
        animation: pulseLogo 5s infinite ease-in-out;
    }
main{
    padding: 10px;
    margin: 10px;
}

nav a {
        color: purple;
        text-decoration: none;
        margin-left: 20px;
        transition: color 0.5s;
        padding-bottom: 5px;
        position: relative;
    }

nav a:hover {
            color:black ;
    }
nav a::after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: purple;
            transform-origin: bottom right;
            transition: transform 0.3s ease-out;
        }

.lien{
    cursor: pointer;
    transform: 5px;
    transition-duration: 0.3s;
    color: white;
    background-color: rgb(233, 233, 248);
    border-radius: 8px;
    padding: 10px 20px;
}
.lien:hover{
   background-color: #70148b;
   transform: translateY(-2px);
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    font-size: xx-large;
}
.comment{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: x-large;
}
#ajouter{
    background-color: green;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    display: flex;
    text-align: end;
    
}
#retour{
    background-color: rgba(76, 226, 236, 0.527);
}